.container{
    max-width: 1280px;
    margin: 0 auto;
}
.row{
    display:flex;
}
.col-1{
    width:8.33%;
    padding:0 15px;
}
.col-2{
    width:16.66%;
    padding:0 15px;
}
.col-3{
    width:25%;
    padding:0 15px;
}
.col-4{
    width:33.32%;
    padding:0 15px;
}
.col-5{
    width:41.65%;
    padding:0 15px;
}
.col-6{
    width:50%;
    padding:0 15px;
}
.col-7{
    width:58.31%;
    padding:0 15px;
}
.col-8{
    width:66.64%;
    padding:0 15px;
}
.col-9{
    width:75%;
    padding:0 15px;
}
.col-10{
    width:83.3%;
    padding:0 15px;
}
.col-11{
    width:91.63%;
    padding:0 15px;
}
.col-12{
    width:100%;
    padding:0 15px;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    overflow-x: hidden;
}
*::-webkit-scrollbar {
    width: 0;
    height: 0;
}
html,body{
    height:100%;
    width:100%;
    background:#fff;
    font-family: "Poppins", sans-serif;
}
a{
    cursor:pointer;
}
footer{
    position: relative;
    z-index: 99;
}
section{
    background-color: #fff;
    padding:0 0;
}
nav{
    align-items: center;
    justify-content: space-between;
    padding:10px 30px;
    z-index: 99;
    position: relative;
    background-color: #fff;
}
main{
    background-color:#fff;
    z-index:99;
}
.nav-left{
    flex:1;
    align-items: center;
}
.nav-links{
    gap:16px;
    margin-left:50px;
}
.nav-links a{
    text-decoration: none;
    font-size: 17px;
    color:black;
    font-weight: 600;
}
.menu{
    display: none;
}
.logoimage img{
    width:100%;
}
.nav-right{
    gap:12px;
}
.login{
    background-color: #026d19;
    color:white;
    border-radius: 75px;
    outline:none;
    border:none;
    cursor:pointer;
    padding:10px 20px;
    font-size: 15px;
}
.signup{
    background-color: #092f34 ;
    color:white;
    border-radius: 75px;
    outline:none;
    border:none;
    cursor:pointer;
    padding:10px 16px;
    font-size: 15px;
}
.front{
    position: relative;
    z-index: 99;
}
.front img{
    width:100%;
}
.front-text{
    position:absolute;
    top:40%;
    left:5%;
}
.front-text p{
    font-size: 50px;
    color:white;
    font-weight: 700;
}
.front-text span{
    color:#19d63d;
}
.page-2{
    padding-top:70px;
    position: relative;
    z-index: 99;
    background-color: #fff;
    padding-bottom: 100px;
}
.section-2{
    padding:0 0 ;
}
.cards{
    align-items: center;
    justify-content: space-evenly;
}
.card{
    border:1px solid #cccccc;
    padding:30px 30px;
    border-radius: 15px;
}
.cardtitle p{
    font-size: 25px;
    margin: 15px 0;
    font-weight: 600;
}
.card-description{
    font-size: 17px;
}
.card2 .cardtitle {
    padding:5px;
}
.card3 .cardtitle{
    padding:10px;
}
.know{
    margin:20px 0;
    color:#19d63d;
    font-size: 18px;
    font-weight:600;
    cursor:pointer;
}
.know:hover,
.know:hover i{
    color: #000;
    transition: color 0.3s ease;
}
.know i{
    color:#19d63d;
    margin-left:10px;
}
.coloured{
    margin:20px 0;
    color:white;
    font-size: 18px;
    font-weight:600;
    cursor:pointer;
}
.coloured:hover,
.coloured:hover i{
    color:rgb(21, 21, 56);
    transition: color 0.3s ease;
}
.coloured i{
    color:white;
    margin-left:10px;
}
.more:hover{
    margin-left: 20px;
    transition: margin 0.3s ease;
}
.page-3{
    background-color: #f5f5f5;
    padding:90px 0 70px 0;
    position: relative;
    z-index: 99;
}
.page-3-left{
    padding:15px;
    margin:auto;
}
.page-3-left p:first-of-type{
    color:#19d63d;
    font-size: 50px;
    font-weight: 700;
}
.page-3-left p:nth-of-type(2){
    color:#111111;
    font-size: 25px;
    font-weight: 600;
    text-wrap: wrap;
}
.page-4{
    background: #666666;
    position: relative;
    z-index: 99;
}
.page-4-right{
    margin:auto;
    padding:20px;
}
.page-4 .page-4-right{
    color:#fff;
    padding-left: 80px;
    padding-right: 80px;
}
.page-4 .page-4-right .know{
    color:#fff;
}
.page-4 .page-4-right .know i{
    color:#fff;
}
.page-4-right p:first-of-type{
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 12px;
}
.page-4-right p:nth-of-type(2){
    font-size: 25px;
    font-weight: 600;
}
.page-4{
    padding:90px 0 70px 70px;
}
.page-5{
    padding:100px;
    position: relative;
    z-index: 99;
}
.page-5-left{
    font-size: 50px;
    color:black;
    font-weight: 700;
    padding:0 40px;
    padding-left:0;
    line-height:1.2;
}
.page-5-right .billoption p:first-of-type{
    color:black;
    font-size:22px;
    font-weight: 700;
}
.page-5-right .billoption p:last-of-type{
    font-size: 18px;
}
.billoption{
    margin-bottom: 30px;
}
.page-6{
    padding-top: 80px;
    padding-left:10px;
    position: relative;
    z-index: 99;
    padding-bottom: 100px;
}
.page-6-upper{
    margin-bottom: 50px;
}
.page-6-upper p{
    font-size:45px;
    color:#19d63d;
    font-weight: 700;
    margin-bottom: 30px;
    margin-left: 18px;
}
.page-6-card{
    background-color: whitesmoke;
    border-radius: 30px;
}
.page-6-card img{
    width:100%;
}
.page-6-card-description{
    padding:10px 25px;
}
.page-6-card-description p:first-of-type{
    font-size: 19px;
    color:#19d63d;
    font-weight: 600;
}
.page-6-card-description p:nth-of-type(2){
    font-size:16px;
    font-weight: 500;
}
.page-7{
    background-color: whitesmoke;
    padding: 80px 30px;
    position: relative;
    z-index: 99;
}
.page-7-left{
    margin: auto 0;
}
.page-7-left{
    padding-right: 40px;
    padding-left: 30px;
}
.page-7-left p:first-of-type{
    color:#19d63d;
    font-size: 50px;
    font-weight: 600;
    line-height: 1.1;
    margin-bottom: 15px;
}
.page-7-left p:nth-child(2){
    color:black;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
}
.page-7-right{
    margin: auto 0;
    padding: 0 40px;
    padding-right:110px;
}
.page-7-right img{
    width:100%;
}
.page-8{
    padding: 0;
    position: relative;
    z-index: 99;
}
.page-8-left{
    background-color: #28e836;
    padding-top: 70px;
    padding-bottom: 50px;
}
.page-8-right{
    background-color: #092f34;
    padding-top: 70px;
    padding-bottom: 50px;
}
.page-8-left img{
    width:100%;
}
.page-8-right img{
    width:100%;
}
.page-8-title{
    font-size: 40px;
    color:white;
    margin:15px 0;
    font-weight: 600;
}
.page-8-description{
    font-size: 25px;
    color:white;
    margin-bottom:20px ;
}
.page-8-know{
    color:white;
    font-size: 18px;
}
.page-8-know i{
    color:white;
    margin-left: 10px;
}
.page-8-content{
    padding:0 50px;
}
.page-9{
    background-color:whitesmoke;
    position: relative;
    z-index: 99;
}
.page-9-description p:first-of-type{
    color:#092f34;
    font-size: 38px;
    font-weight: 700;
    line-height: 1.2;
}
.page-9-description p:nth-last-of-type(2){
    color:black;
    font-size: 24px;
    font-weight: 700;
}
.page-9-content{
    padding:90px 50px;
    padding-right: 30px;
}
.page-9-description{
    margin:auto;
    margin-left: 40px;
}
.page-10{
    position: relative;
    z-index: 99;
    padding-top: 50px;
}
.page-10-heading{
    font-size:50px;
    font-weight:700;
    margin-bottom: 10px;
    padding-left: 20px;
    position: relative;
    z-index: 99;
}
.page-10-card{
    border:1px solid #cccccc;
    border-radius: 20px;
}
.page-10-card img{
    width: 100%;
    object-fit: fill;
}
.page-10-card-description p:first-of-type{
    color:#19d63d;
}
.page-10-card-description{
    padding:30px;
}
.page-10-card-description p:nth-of-type(2){
    color:black;
    font-size: 23px;
    font-weight: 600;
}
.page-10-card-3 .know{
    padding-top: 35px;
}
.page-11{
    margin-top: 90px;
    padding: 0;
}
.support-1 img{
    width:100%;
}
.support-1-img{
    position: relative;
    bottom:0;
    z-index:1 !important;
}
.support-2{
    z-index: 3;
}
.support{
    background-color:#7f7f7f;
    border-bottom: 1px solid black;
    color:white;
    margin: auto;
    /* padding:100px; */
    /* text-align: center; */
    /* padding:170px 350px; */
    /* position: relative; */
    /* z-index:2; */
}
 .support{
    position:relative;
    color: #fff;
}
.support-text{
    position:absolute;
    right:0;
    bottom:10%;
    padding:0;
    z-index:3;
}
.support p:first-of-type{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
}
.support p:nth-of-type(2){
    font-size: 20px;
}
.support p:nth-of-type(2) i{
    margin-left:15px;
    font-size: 25px; 
}
.support-1-img,
.support-2-img,
.support-3-img{
    position:relative;
    z-index: 1;
    height:100%;
    top:0;
} 
.support-1-img img{
    position:relative;
    z-index: 1;
    height:100%;
    top:0;
    object-fit: cover;
    width: 100%;
}
.support-3-img img{
    position:relative;
    z-index: 1;
    height:100%;
    top:0;
    object-fit: cover;
    width: 100%;
}
.support-2-img img{
    position:relative;
    z-index: 1;
    height:100%;
    top:0;
    object-fit: cover;
    width: 100%;
} 

/* .page-11{
    margin-top: 90px;
    padding: 0;
}
.support{
    background-color:#7f7f7f;
    border-bottom: 1px solid black;
    color:white;
    margin: auto; */
    /* padding:100px; */
    /* text-align: center; */
    /* padding:170px 350px; */
    /* position: relative; */
    /* z-index:2; */
/* } 
.support{
    position:relative;
    color: #fff;
}
.support-text{
    position:absolute;
    right:0;
    bottom:10%;
    padding:0;
    z-index:3;
}
.support p:first-of-type{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
}
.support p:nth-of-type(2){
    font-size: 20px;
}
.support p:nth-of-type(2) i{
    margin-left:15px;
    font-size: 25px; 
} 
.support-1-img{
    position:fixed;
    z-index: 1;
    height:50vh;
    top:0;
} */

/* .page-11 {
    display: flex;
    flex-direction: column;
    position: relative;
}
.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
  }
  
  .support-1-img,
  .support-3-img {
    height: 100vh;
    overflow: hidden;
  }
  
  .support-1-img img,
  .support-3-img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  
  .support-2 {
    position: relative;
    z-index: 2;
  }
  
  .support-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  } */


/* .page-11 {
    position: relative;
}

.support {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.support img {
    max-width: 100%;
    height: auto;
}

.support-text {
    position: absolute;
    left: 0;
    padding: 20px;
    color: #fff;
    z-index: 1;
}

.support-1-img,
.support-3-img {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -1;
}

.support-1-img {
    left: 0;
}

.support-3-img {
    right: 0;
}

.container {
    max-width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.col-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
} */
footer{
    background-color: #111111;
    color:white;
    padding:0 50px;
    padding-top:80px;
    z-index: 3;
}
.footer-header{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-body{
    border-bottom: 1px solid rgba(255, 255, 255, 0.418);
    margin-top:80px;
    flex-wrap: wrap;
}
.footer-links{
    margin-bottom:30px;
}
.footer-links p:first-of-type{
    margin-bottom:10px;
    font-weight: 500;
}
.footer-links a{
    font-weight: 200;
}
.footer-links a:hover{
    color:#19d63d;
    animation:color 0.2s ease;
}
.footer-links span{
    margin-right:5px;
}
.footer-bottom{
    align-items:center;
    justify-content: space-between;
    padding:20px;
    font-weight: 300;
}
.right-first{
    margin-right:10px;
    border-right:1px solid white;
    padding-right:10px;
}

@keyframes colorEffect {
  from{
    color:#19d63d;
  }
  to{
    color:#111111;
  }
} 


@media (max-width:480px) {
    *{
        overflow-x: hidden;
    }
    .row{
        flex-wrap: wrap;
    }
    .col-4{
        width:100%;
    }
    nav{
        align-items:center;
        justify-content:space-between;
        padding:10px 30px;
    }
    .nav-left{
        align-items:center;
    }
    .nav-links{
        display:none;
    }
    .logoimage img{
        width:100%;
    }
    .nav-right{
        display:none;
    }
    .menu{
        display:block;
    }
    .front img{
        width:100%;
    }
    .front-text{
        top:60%;
        left:5%;
    }
    .front-text p{
        font-size: 30px;
        color:white;
        font-weight: 700;
    }
    .page-2{
        padding-top:70px;
    }
    .cards{
        flex-wrap: wrap;
    }
    .card{
        border:1px solid #cccccc;
        padding:15px 15px;
        border-radius: 15px;
        margin-bottom:20px;
        text-align: center;
    }
    .cardtitle p{
        font-size: 16px;
        margin: 15px 0;
        font-weight: 600;
    }
    .card-description{
        font-size: 15px;
        padding:15px 18px;
    }
    .card2 .cardtitle{
        padding:5px;
    }
    .card3 .cardtitle{
        padding:10px;
    }
    .know{
        margin:20px 0;
        color:#19d63d;
        font-size: 15px;
        font-weight:600;
    }
    .know i{
        color:#19d63d;
        margin-left:10px;
    }
    .page-3{
        padding:100px 0 35px 0;
    }
    .page-3-left{
        padding:15px;
    }
    .page-3-left p:first-of-type{
        font-size: 25px;
        font-weight: 700;
        margin-top:20px;
    }
    .page-3-left p:nth-of-type(2){
        font-size: 20px;
        font-weight: 600;
        text-wrap: wrap;
        text-align:left;
    }
    .page-3-right img{
        width:100%;
    }
    .page-4-left{
        padding-top: 50px;
    }
    .page-4-right{
        padding:0px;
    }
    .page-4-right img{
        width:100%;
    }
    .page-4 .page-4-right{
        padding-left:20px;
        padding-right:40px;
    }
    .page-4-right p:first-of-type{
        font-size: 40px;
        margin-bottom:12px;
    }
    .page-4-right p:nth-of-type(2){
        font-size:20px;
    }
    .page-4{
        padding:0px 0 35px 0px;
    }
    .page-5{
        padding:0;
        padding-top:50px;
        text-align: center;
    }
    .col-6{
        width: 100%;
    }
    .page-5-left{
        font-size: 21px;
        padding:0 0px;
        padding-left:0;
        line-height:1.2;
        padding-bottom: 30px;
    }
    .page-5-right .billoption p:first-of-type{
        color:black;
        font-size:20px;
        font-weight: 700;
    }
    .page-5-right .billoption p:last-of-type{
        font-size: 18px;
    }
    .billoption{
        padding-bottom: 30px;
        margin-bottom: 0;
    }
    .page-6{
        padding-top:40px;
        padding-left:10px;
    }
    .page-6-upper{
        margin-bottom:20px;
    }
    .page-6-upper p{
        font-size:37px;
        margin-left:18px;
    }
    .page-6-card{
        margin-bottom:20px;
    }
    .page-6-card-description{
        padding:10px 12px;
    }
    .page-6-card-description p:first-of-type{
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 10px;
    }
    .page-6-card-3{
        padding-bottom: 1px;
    }
    .page-6-card-3 p:nth-of-type(2){
        font-size: 13.679px;
        margin-bottom:25px;
    }
    .page-7{
        padding: 80px 20px;
        position: relative;
        z-index: 99;
        margin:0;
    }
    .page-7-left{
        margin: auto 0;
    }
    .page-7-left{
        width:100%;
    }
    .page-7-left{
        padding-right: 0px;
        padding-left: 0px;
    }
    .page-7-left p:first-of-type{
        color:#19d63d;
        font-size: 30px;
        font-weight: 600;
        line-height: 1.1;
        margin-bottom: 15px;
    }
    .page-7-left p:nth-child(2){
        color:black;
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 20px;
    }
    .page-7-right{
        display: none;
    }
    .page-8-left{
        background-color: #28e836;
        padding:0;
        padding-top: 70px;
        padding-bottom: 50px;
    }
    .page-8-right{
        padding:0;
        background-color: #092f34;
        padding-top: 70px;
        padding-bottom: 50px;
    }
    .page-8-left img{
        width:100%;
    }
    .page-8-right img{
        width:100%;
    }
    .page-8-title{
        font-size: 25px;
        color:white;
        margin:15px 0;
        font-weight: 600;
    }
    .page-8-description{
        font-size: 20px;
        color:white;
        margin-bottom:20px ;
    }
    .page-8-know{
        color:white;
        font-size: 18px;
    }
    .page-8-know i{
        color:white;
        margin-left: 10px;
    }
    .page-8-content{
        padding:0 20px;
    }
    .page-9{
        padding-bottom: 20px;
        position: relative;
        z-index: 99;
    }
    .page-9-description p:first-of-type{
        color:#092f34;
        font-size: 25px;
        font-weight: 600;
        line-height: 1.2;
    }
    .page-9-description p:nth-last-of-type(2){
        color:black;
        font-size: 18px;
        font-weight: 700;
    }
    .page-9-content{
        padding:90px 20px;
        padding-right: 20px;
    }
    .page-9-content img{
        width: 100%;
    }
    .page-9-description{
        margin:auto;
        margin-left: 0px;
        padding-right:12px;
    }
    .page-10-heading{
        font-size:30px;
        font-weight:700;
        margin-bottom: 10px;
        padding-left:20px;
        position: relative;
        z-index: 99;
    }
    .page-10-card{
        border:1px solid #cccccc;
        border-radius: 20px;
        margin-bottom:20px;
    }
    .page-10-card img{
        width: 100%;
        object-fit: fill;
    }
    .page-10-card-description p:first-of-type{
        color:#19d63d;
    }
    .page-10-card-description{
        padding:20px;
    }
    .page-10-card-description p:nth-of-type(2){
        color:black;
        font-size: 21px;
        font-weight: 400;
    }
    .page-10-card-3 .know{
        padding-top: 25px;
    }
    .support-text{
        margin: auto;
        width: 100%;
    }
    .support-text p:first-of-type{
        font-size: 20px;
    }
    .support-text p:nth-of-type(2){
        font-size: 16px;
    }
    footer{
        padding:0 50px;
        padding-top:50px;
        z-index: 3;
    }
    .footer-links{
        width:100%;
        text-align:center;
    }
    .footer-header{
        width:100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .footer-body{
        border-bottom: 1px solid rgba(255, 255, 255, 0.418);
        margin-top:50px;
        flex-wrap: wrap;
    }
    .footer-links{
        margin-bottom:30px;
    }
    .footer-links p:first-of-type{
        margin-bottom:10px;
        font-weight: 500;
    }
    .footer-links a{
        font-weight: 200;
    }
    .footer-links a:hover{
        color:#19d63d;
        animation:color 0.2s ease;
    }
    .footer-links span{
        margin-right:5px;
    }
    .footer-bottom{
        align-items:center;
        justify-content: space-between;
        padding:20px;
        font-weight: 300;
    }
    .right-first{
        margin:0;
        margin-right:10px;
        border-right:1px solid white;
        padding-right:10px;
    }
    .footer-bottom{
        align-items:center;
        justify-content:center;
        padding:15px;
        font-weight: 200;
        text-align: center;
    }
    .right-first{
        margin-right:10px;
        border-right:1px solid white;
        padding-right:10px;
    }
}